.FooterContainer
  background-color #393939
.FooterItem
  margin 0
  padding-bottom 1em
  list-style none
  display flex
  justify-content center
  align-items center
  & li
    margin-top 1em
  & li a
    font-size 20px
    border-radius 100%
    color white
    margin 0 0.5em
    padding 10px
    background #3396ff
    transition 1s
    &:hover
      text-decoration none
      color #3396ff
      background white
