.NavbarHeader
  background #FFF
  border none
  border-radius 0px
  margin-bottom 0px
.navbar-header .NavbarTitle
  text-transform uppercase
  color #000
.navbar-header .NavbarTitleSpan
  color #3396FF
